version: "3"
services:
  paper-pi:
    image: palemoky/paper-pi:latest
    container_name: paper-pi
    restart: unless-stopped
    privileged: true # MUST, for GPIO
    env_file:
      - .env
    devices:
      - /dev/spidev0.0:/dev/spidev0.0
    environment:
      - TZ=${TIMEZONE:-Asia/Shanghai}
    volumes:
      - ./data:/app/data
