version: "3"
services:
  eink-panel:
    image: palemoky/eink-panel:latest
    container_name: eink-panel
    privileged: true # 必须，为了访问 GPIO
    devices:
      - /dev/spidev0.0:/dev/spidev0.0 # SPI 接口
    environment:
      - TZ=${TIMEZONE:-Asia/Shanghai}
    volumes:
      - ./.env:/app/.env:ro  # 只读挂载 .env
      - ./data:/app/data     # 挂载数据目录 (存放 cache.json 和 screenshot.bmp)
    restart: unless-stopped
